@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    
    background-image: url(/assests/images/bg-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 

nav ul {
    display: flex;
    width: 30rem;
    list-style: none;
    column-gap: 5rem ;
    margin-left: 44rem;
}

nav li {
    width: 6rem;
    
}

.game-container {
    width: 1000px;
    height: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
}

.player-selection {
	width: 41rem;
	margin-left: auto;
	margin-right: auto;
	column-gap: 10px;
	display: flex;
    margin-top: 5rem;
    text-align: center;
}

.player-selection img {
    width: 8rem;
    scale: 1;
}

.player-selection img:hover{
    scale: 1.1;
}

.computer-selection {
    width: 41rem;
	margin-left: auto;
	margin-right: auto;
	column-gap: 10px;
	display: flex;
}

.computer-selection img {
    width: 8rem;
}

.player-score{
    text-align: center;
    margin-top: 2.5rem;
    font-size: 30px;
    color: yellowgreen;
}

.vs {
        text-align: center;
        margin-top: 8rem;
        font-size: 30px;
        color: yellowgreen;
}

.pc-score{
    text-align: center;
    margin-top: 8rem;
    font-size: 30px;
    color: yellowgreen;
}

.button {
    cursor: pointer;
    width: 100px;
    top:50%;
    background-color:#1eff00;
    color: rgb(132, 0, 255);
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    padding: .35rem .55rem;
}


.rules h2 {
    font-family: Poppins;
    font-size: 95px;
    text-transform: uppercase;
    font-weight:bolder;
    text-align: center;
    color: rgb(28, 167, 1);
}

.rules p{
    font-size: 32px;
    width: 60rem;
    margin-right: auto;
    margin-left: auto;
    color: rgb(4, 128, 0);
    margin-top: 6rem;
}
.rules ul {
    font-size: 32px;
    width: 20rem;
    margin-right: auto;
    margin-left: auto;
    color: rgb(4, 128, 0);
    margin-top: 6rem;
}