@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');



body {
    background-image: url(../images/bg-space.jpg);
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden;
}

ul {
    display: flex;
    font-size: 3px;
    letter-spacing: 0px;
    column-gap: 2rem;
}



.howTo-button-nav {
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    width: 100px;
    top: 50%;
    background-color: #1eff00;
    color: rgb(132, 0, 255);
    border: none;
    border-radius: 10px;
    padding: .35rem .55rem;
    margin-left: 3rem;
    margin-top: 3rem;
}

.game-container {
    width: 1000px;
    height: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
}

.player-selection {
    width: 41rem;
    margin-left: auto;
    margin-right: auto;
    column-gap: 10px;
    display: flex;
    margin-top: 5rem;
    text-align: center;
}

.player-score h3 {
    display: flex;
    width: 30rem;
    justify-content: center;
    margin-left: 20rem;
}

.pc-score h3,
p {
    display: flex;
    width: 30rem;
    justify-content: center;
    margin-left: 20rem;
}

.player-selection .plyerbtn {
    font-size: 0;
}

.player-gamebtn {
    font-size: 0;
}

.gamebtn {
    font-size: 0;
}

.bot-gamebtn {
    font-size: 0;
}

.player-selection img {
    width: 8rem;
    scale: 1;
}

.player-selection img:hover {
    scale: 1.1;
}

.playerChoice {
    color: #1eff00;
}

.pcChoice {
    color: #1eff00;
}

.computer-selection {
    width: 41rem;
    margin-left: auto;
    margin-right: auto;
    column-gap: 10px;
    display: flex;
}

.computer-selection img {
    width: 8rem;
}

.player-score {
    text-align: center;
    margin-top: 2.5rem;
    font-size: 30px;
    color: yellowgreen;
}

.player-gamebtn {
    border: none;
    background-color: transparent;
}

.bot-gamebtn {
    border: none;
    background-color: transparent;
}

.player-gamebtn:hover {
    cursor: pointer;
}

.vs {
    text-align: center;
    margin-top: 3rem;
    font-size: 30px;
    color: yellowgreen;
}

.player-winner {
    text-align: center;
    font-size: 30px;
    color: yellowgreen;
    display: flex;
    width: 30rem;
    justify-content: center;
    margin-left: 20rem;
}

.pc-winner {
    text-align: center;
    align-items: center;
    font-size: 30px;
    color: yellowgreen;
}

.pc-score {
    text-align: center;
    margin-top: 3rem;
    font-size: 30px;
    color: yellowgreen;
}

.button-nav {
    cursor: pointer;
    width: 100px;
    top: 50%;
    background-color: #1eff00;
    color: rgb(132, 0, 255);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
    padding: .35rem .55rem;
}

.button-nav:hover {
    background-color: #555555;
    color: white
}

.rules h2 {
    font-family: Poppins;
    font-size: 95px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    color: rgb(28, 167, 1);
}

.rules p {
    font-size: 32px;
    width: 60rem;
    margin-right: auto;
    margin-left: auto;
    color: rgb(4, 128, 0);
    margin-top: 6rem;
}

.rules ul {
    font-size: 32px;
    width: 20rem;
    margin-right: auto;
    margin-left: auto;
    color: rgb(4, 128, 0);
    margin-top: 6rem;
}

/* MEDIA QUERIES */
/* @media screen and (min-width: 834px) {

    body {
        width: 834px;
        height: 1194px;

    }

    .nav-bar ul {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }

    .nav-barHowTo ul {
        display: block;
        width: 10rem;
        margin-left: 15rem;
    }

    .player-selection {
        display: grid;
        grid-auto-flow: column;
        width: 42.5rem;
        margin-right: 18rem;
        padding-top: 2rem;

    }

    .computer-selection {
        display: grid;
        grid-auto-flow: column;
        width: 42.5rem;
        margin-right: 18rem;
        margin-top: 6rem;
    }

    .scoreChoices p {
        width: 8.8rem;
        font-size: 25px;
        padding-left: 1rem;
        padding-top: 6px;

    }

    .scoreChoices h3,
    .player-winner {
        width: 8.8rem;
        font-size: 25px;
        padding-left: 1rem;
        padding-top: 3px;

    }

    .rules {
        margin-top: .5rem;
    }

    .rules h2 {
        margin-bottom: .5rem;
        margin-top: 2rem;
    }

    .rules p {
        display: block;
        width: 35rem;
        margin-top: 0rem;
    }

    .rules ul {
        display: grid;
        justify-items: stretch;
        padding-bottom: 0rem;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }


} */

/* Ipad PRO screensize */
@media only screen and (max-device-width: 834px) {

    html {
        height: 100vh;
        overflow: scroll;

    }

    ul {
        display: flex;
        justify-content: center;
        font-size: 3px;
        letter-spacing: 0px;
        column-gap: 2rem;
        padding-top: 2rem;
        width: 42rem;
    }

    .player-selection,
    .computer-selection {
        margin-right: 18rem;

    }

    .player-score h3,
    .player-winner,
    .vs p,
    .pc-score h3 {
        margin-left: 1rem;
    }

    div.playerChoice {
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin-right: 15rem;
        margin-top: 2rem;
    }

    div.pcChoice {
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-right: 15rem;
    }

    .player-score h3,
    .pc-score h3 {
        display: flex;
        flex-direction: row;
        margin-left: 10rem;
        margin-right: 0;
    }

    .player-winner,
    .vs p {
        display: flex;
        flex-direction: row;
        margin-left: 10rem;
        margin-right: 0;
    }


    .rules h2 {
        font-size: 60px;
        margin-bottom: 5rem;
    }

    .rules p {
        font-size: 25px;
        width: 40rem;
        margin-top: 0;
    }

    .hotToPlay ul {
        display: grid;
        font-size: 25px;
        margin-top: 2.5rem;
    }

    .nav-barHowTo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-right: 20rem;
    }

}

@media only screen and (max-device-width: 810px) {

    html {
        height: 100vh;
        overflow: scroll;

    }

    ul {
        display: flex;
        justify-content: center;
        font-size: 3px;
        letter-spacing: 0px;
        column-gap: 2rem;
        padding-top: 2rem;
        width: 42rem;
    }


    .player-score h3,
    .player-winner,
    .vs p,
    .pc-score h3 {
        margin-left: 1rem;
    }

    div.playerChoice {
        display: flex;
        justify-content: center;
        font-size: 30px;

        margin-top: 2rem;
    }

    div.pcChoice {
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    div.playerChoice {
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin-right: 15rem;
        margin-top: 2rem;
    }

    div.pcChoice {
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin-top: 2rem;
        margin-right: 15rem;
    }

    .player-score h3,
    .pc-score h3 {
        display: flex;
        flex-direction: row;
        margin-left: 10rem;
        margin-right: 0;
    }

    .player-winner,
    .vs p {
        display: flex;
        flex-direction: row;
        margin-left: 10rem;
        margin-right: 0;
    }


    .rules h2 {
        font-size: 60px;
        margin-bottom: 5rem;
    }

    .rules p {
        font-size: 25px;
        width: 40rem;
        margin-top: 0;
    }

    .hotToPlay ul {
        display: grid;
        font-size: 25px;
        margin-top: 2.5rem;
    }

    .nav-barHowTo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-right: 20rem;
    }

}

/* IpadMini Size */
@media only screen and (max-device-width: 768px) {

    html {
        height: 100vh;
        overflow: scroll;

    }

    ul {
        display: flex;
        justify-content: center;
        font-size: 3px;
        letter-spacing: 0px;
        column-gap: 2rem;
        margin-left: 2rem;
        padding-top: 2rem;
    }

    .scoreChoices {
        margin-left: 0;
    }

    .player-selection {
        margin-right: 10rem;
        margin-left: 2rem;
    }

    div.playerChoice,
    div.pcChoice {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 30px;
        margin-top: 2rem;
        margin-right: 15rem;
    }

    .pcChoice {
        margin-bottom: 2rem;
    }

    .player-score h3 {
        margin-left: 10rem;
    }

    .player-winner {
        margin-left: 10rem;
    }

    .vs p {
        margin-right: 0;
        margin-left: 10rem;
    }

    .pc-score h3 {
        margin-left: 10rem;

    }



    .computer-selection {
        margin-right: 10rem;
        margin-left: 2rem;
    }

    .rules h2 {
        font-size: 60px;
        margin-bottom: 5rem;
    }

    .rules p {
        font-size: 25px;
        width: 40rem;
        margin-top: 0;
    }

    .hotToPlay ul {
        display: grid;
        font-size: 25px;
        margin-top: 2.5rem;
    }


    .nav-barHowTo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-right: 9rem;
    }



}

@media only screen and (max-device-width: 428px) {
    html {
        height: 100vh;
        overflow: scroll;

    }

    section.scoreChoices {
        width: 0rem;
        height: 61%;
    }

    ul {
        display: flex;
        justify-content: center;
        width: 14rem;
    }

    .game-container {
        display: flex;
        padding-top: 5rem;
        height: 60%;
        width: 1rem;
        padding-left: 0rem;
        margin-left: 0rem;

    }


    .player-selection {
        display: grid;
        grid-auto-flow: row;
        width: 6rem;
        height: 51%;
        column-gap: 10px;
        padding: 0px;
        margin-left: .1rem;
        margin-right: 0;
        margin-top: 0;
    }

    .player-selection img {
        width: 5rem;

    }

    .computer-selection {
        display: grid;
        grid-auto-flow: row;
        width: 6rem;
        height: 51%;
        column-gap: 1px;
        padding: 0px;
        margin-left: 14.5rem;
        margin-top: 0;
    }

    .computer-selection img {
        width: 5rem;
    }

    .scoreChoices h3 {
        margin-left: 0;
        justify-content: left;

    }

    .playerChoice {
        text-align: center;
        font-size: 25px;
        margin-right: 0rem;
        margin-left: 0rem;
        margin: 0px;
        padding: 0px;
        padding-right: 4rem;
        width: 9rem;
        padding-left: 2.5rem;
    }

    p.playerChoice {
        margin-right: 0rem;
        margin-left: 0rem;
        margin: 0px;
        padding: 0px;
        padding-right: 4rem;
        width: 8rem;
        padding-left: 1rem;
    }


    .player-score {
        display: grid;
        margin-left: 0rem;
        padding-left: 1rem;
        margin-top: 0;
    }

    .player-score h3 {
        margin-left: 4rem;
        justify-content: left;
        width: 10rem;
        margin-bottom: 0;
        padding-left: 1.5rem;
    }


    .vs p {
        margin-right: 0rem;
        margin-left: 0rem;
        margin: 0px;
        padding: 0px;
        padding-right: 4rem;
        width: 12rem;
    }

    .player-winner {
        text-align: center;
        margin-right: 0rem;
        margin-left: 0rem;
        margin: 0px;
        padding: 0px;
        padding-right: 4rem;
        width: 10rem;
        padding-left: 2.5rem;
        margin-top: 1rem;
    }

    .pcChoice {
        text-align: center;
        font-size: 25px;
        margin-right: 0rem;
        margin-left: 0rem;
        margin: 0px;
        padding-right: 4rem;
        width: 9rem;
        padding-left: 2.5rem;
    }

    .pc-score {
        text-align: center;
        margin: 0px;
        padding-right: 4rem;
        width: 8rem;
        padding-left: 6.5rem;
        padding-top: 2rem;
    }

    .rules h2 {

        font-size: 60px;
        margin-bottom: 5rem;
    }

    .rules p {
        font-size: 25px;
        width: 20rem;
        margin-top: 0;
    }

    .hotToPlay ul {
        display: grid;
        font-size: 25px;
        margin-top: 2.5rem;
    }

}

/* Iphone and andriod sizes */
@media only screen and (min-device-width: 375px) and (max-device-width: 412px) {
    html {
        height: 100vh;
        overflow: scroll;

    }

    section.scoreChoices {
        width: 0rem;
        height: 61%;
    }

    ul {
        display: flex;
        justify-content: center;
        width: 14rem;
    }

    .game-container {
        display: flex;
        padding-top: 5rem;
        height: 60%;
        width: 1rem;
        padding-left: 0rem;
        margin-left: 0rem;

    }


    .player-selection {
        display: grid;
        grid-auto-flow: row;
        width: 6rem;
        height: 51%;
        column-gap: 10px;
        padding: 0px;
        margin-left: .1rem;
        margin-right: 0;
        margin-top: 0;
    }

    .player-selection img {
        width: 5rem;

    }

    .computer-selection {
        display: grid;
        grid-auto-flow: row;
        width: 6rem;
        height: 51%;
        column-gap: 1px;
        padding: 0px;
        margin-left: 11.5rem;
        margin-top: 0;
    }

    .computer-selection img {
        width: 5rem;
    }

    .scoreChoices h3 {
        margin-left: 0;
        justify-content: left;

    }

    .playerChoice {
        text-align: center;
        font-size: 25px;
        margin-right: 0rem;
        margin-left: 0rem;
        margin: 0px;
        padding: 0px;
        padding-right: 4rem;
        width: 9rem;
        padding-left: .5rem;
    }

    p.playerChoice {
        margin-right: 0rem;
        margin-left: 0rem;
        margin: 0px;
        padding: 0px;
        padding-right: 4rem;
        width: 8rem;
        padding-left: 1rem;
    }


    .player-score {
        display: grid;
        margin-left: 0rem;
        padding-left: 1rem;
        margin-top: 0;
    }

    .player-score h3 {
        margin-left: 4rem;
        justify-content: left;
        width: 10rem;
        margin-bottom: 0;
    }


    .vs p {
        margin-right: 0rem;
        margin-left: 0rem;
        margin: 0px;
        padding: 0px;
        padding-right: 4rem;
        width: 9rem;
    }

    .player-winner {
        text-align: center;
        margin-right: 0rem;
        margin-left: 0rem;
        margin: 0px;
        padding: 0px;
        padding-right: 4rem;
        width: 10rem;
        padding-left: .5rem;
        margin-top: 1rem;
    }

    .pcChoice {
        text-align: center;
        font-size: 25px;
        margin-right: 0rem;
        margin-left: 0rem;
        margin: 0px;
        padding-right: 4rem;
        width: 9rem;
        padding-left: .5rem;
    }

    .pc-score {
        text-align: center;
        margin: 0px;
        padding-right: 4rem;
        width: 8rem;
        padding-left: 4.5rem;
        padding-top: 2re;
    }

    .rules h2 {

        font-size: 60px;
        margin-bottom: 5rem;
    }

    .rules p {
        font-size: 25px;
        width: 20rem;
        margin-top: 0;
    }

    .hotToPlay ul {
        display: grid;
        font-size: 25px;
        margin-top: 2.5rem;
    }

}